h1 {
  text-align: center;
}
section ul li {
  display: inline-block;
}
/* section ul .list-team {
  text-align: center;
}  
será que tem um jeito de centralizar apenas dois itens da lista e não os três?*/

.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 200px;
  margin-left: 40%;
  margin-right: 40%;
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  margin-left: 24%;
}

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
}
.premiacao h3 {
  text-align: center;
}
.premiacao ul {
  text-align: center;
}
